<div class="flex">

    <code-viewer style="flex-grow:1"></code-viewer>

    <form class="form" style="min-height: 100%;">

        <label class="form-row">
            <div class="tag">Language</div>
            <input type="text" ng-model="form.language"></input>
        </label>

        <label class="form-row">
            <div class="tag">License</div>
            <radio-buttons buttons="licenseButtons" form="form.license"></radio-buttons>
        </label>

        <div class="form-row flex end-justify">
            <spin-button button-text="Submit Code" click-handler="submitCode" style="float:right;"></spin-button>
        </div>

    </form>

</div>
