<div class="flex">
    <group-viewer title="Coupons Created"></group-viewer>

    <form class="form">

        <label class="form-row">
            <div class="tag">Shop</div>
            <select
                ng-model="form.shop"
                ng-options="option as option.shopName for option in ShopifyGroup.children"
            ></select>
        </label>

        <label class="form-row">
            <div class="tag">Type</div>
            <radio-buttons buttons="couponTypeButtons" form="form.type"></radio-buttons>
        </label>

        <label class="form-row">
            <div class="tag">Value</div>
            <input type="number" ng-model="form.value"></input>
        </label>

        <label class="form-row">
            <div class="tag">Minimum Order</div>
            <input type="number" ng-model="form.minimumOrder"></input>
        </label>

        <label class="form-row">
            <div class="tag">Usage Limit</div>
            <input type="number" ng-model="form.usageLimit"></input>
        </label>

        <label class="form-row">
            <div class="tag">Code</div>
            <input ng-model="form.couponCode"></input>
        </label>

        <div class="form-row flex end-justify">
            <spin-button button-text="Create Coupon" click-handler="create" style="float:right;"></spin-button>
        </div>
    </form>

</div>
