<div class="flex">
    <group-viewer title="Shops Registered" columns="shopifyColumns" items="ShopifyGroup.children"></group-viewer>

    <div class="form">
        <label class="form-row">
            <div class="tag">Shop Name</div>
            <input ng-model="form.shopName"></input>
        </label>

        <label class="form-row">
            <div class="tag">Shop Vendor</div>
            <select
                ng-model="form.shopVendor"
                ng-options="option as option.name for option in shopVendors"
            ></select>
        </label>

        <div class="form-row flex end-justify">
            <spin-button button-text="Register Shop" click-handler="create" style="float:right;"></spin-button>
        </div>
    </div>
</div>
{{form}}