<div class="flex" style="height:100%;width:100%;">
    <div class="flex column grow-1 basis-0">
        <h1 class="flex space-between">
            <div>Files ({{CodeGroup.children.length}})</div>
            <i class="fa fa-plus clickable" ng-click="newCode()"></i>
        </h1>

        <select size="10" ng-model="form.currentFile" ng-options="file as file.fileName for file in CodeGroup.children" style="height:100%; overflow:auto;"></select>
<!--                 <select
                    ng-model="form.timeFrameType"
                    ng-options="option.value as option.name for option in options"
                    style="margin-left:10px; font-size:12px; height: 20px; padding: 10px; border:none; background: #424950; color: white; pointer: cursor">
                </select>
 -->
        <!-- <group-viewer data="CodeGroup.children" columns="columns"></group-viewer> -->
    </div>

    <code-viewer class="grow-2 basis-0" ng-if="form.currentFile" code="form.currentFile"></code-viewer>
</div>
