<div class="flex space-between center-align" style="height:100%;">
        <div class="logo">codecon</div>
        <div class="flex">
            <div class="navBarLink flex center" ng-class="{active: $state.current.name==='codeGroupViewer'}" ui-sref="codeGroupViewer">Browse Code</div>
            <div class="navBarLink flex center" ng-class="{active: $state.current.name==='codeSubmitter'}" ui-sref="codeSubmitter">Submit Code</div>
            <div class="navBarLink flex center" ng-class="{active: $state.current.name==='profileViewer'}" ui-sref="profileViewer">My Profile</div>

        </div>
</div>