.form{
    background-color: whitesmoke;
    width: 400px;
    padding: 20px;

    .form-row{
        display: flex;
        align-items: center;
        padding: 5px;

        .tag{
            width: 120px;
            font-size: 16px;
            margin: 0 10px 0 0;
            flex-shrink: 0;
        }
    }
}