<form class="form">

    <label class="form-row">
        <div class="tag">File name</div>
        <input type="text" ng-model="code.fileName"></input>
    </label>

    <label class="form-row">
        <div class="tag">Language</div>
        <input type="text" ng-model="code.language"></input>
    </label>

    <label class="form-row">
        <div class="tag">Access</div>
        <radio-buttons buttons="accessButtons" form="code.access"></radio-buttons>
    </label>

    <label class="form-row">
        <spin-button></spin-button>
    </label>

</form>